html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
/* 
#1F6CC7
#F7FEFF
#77A4DF
#D3ECFD
#A7CAF3
#6E8EB7


*/